<?xml version="1.0" encoding="UTF-8"?>
<КоммерческаяИнформация ВерсияСхемы="2.021" ДатаФормирования="2021-09-10T15:00:32">
	<Классификатор>
		<Ид>events_#SITE_ID#</Ид>
		<Наименование>Курсы</Наименование>
		<Свойства>
			<Свойство>
				<Ид>CML2_ACTIVE</Ид>
				<Наименование>БитриксАктивность</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_CODE</Ид>
				<Наименование>Символьный код</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_SORT</Ид>
				<Наименование>Сортировка</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_ACTIVE_FROM</Ид>
				<Наименование>Начало активности</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_ACTIVE_TO</Ид>
				<Наименование>Окончание активности</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_PREVIEW_TEXT</Ид>
				<Наименование>Анонс</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_DETAIL_TEXT</Ид>
				<Наименование>Описание</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>CML2_PREVIEW_PICTURE</Ид>
				<Наименование>Картинка анонса</Наименование>
				<Множественное>false</Множественное>
			</Свойство>
			<Свойство>
				<Ид>26</Ид>
				<Наименование>Организатор</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>ORGANIZER</БитриксКод>
				<БитриксТипСвойства>S</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>27</Ид>
				<Наименование>Место проведения</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>PLACE</БитриксКод>
				<БитриксТипСвойства>S</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>28</Ид>
				<Наименование>Стоимость</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>PRICE</БитриксКод>
				<БитриксТипСвойства>S</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>30</Ид>
				<Наименование>Дата события</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>DATE_EVENT</БитриксКод>
				<БитриксТипСвойства>S</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа>Date</БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>N;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>31</Ид>
				<Наименование>Фото организатора</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>IMG</БитриксКод>
				<БитриксТипСвойства>F</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>32</Ид>
				<Наименование>Изображение 2</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>PICONE</БитриксКод>
				<БитриксТипСвойства>F</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>33</Ид>
				<Наименование>Изображение 3</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>PICTWO</БитриксКод>
				<БитриксТипСвойства>F</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>34</Ид>
				<Наименование>Изображение 4</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>PICTHREE</БитриксКод>
				<БитриксТипСвойства>F</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
			<Свойство>
				<Ид>35</Ид>
				<Наименование>Изображение 5</Наименование>
				<Множественное>false</Множественное>
				<БитриксСортировка>500</БитриксСортировка>
				<БитриксКод>PICFOUR</БитриксКод>
				<БитриксТипСвойства>F</БитриксТипСвойства>
				<БитриксСтрок>1</БитриксСтрок>
				<БитриксКолонок>30</БитриксКолонок>
				<БитриксТипСписка>L</БитриксТипСписка>
				<БитриксТипыФайлов></БитриксТипыФайлов>
				<БитриксКоличествоПолей>5</БитриксКоличествоПолей>
				<БитриксСвязанныйИнфоблок></БитриксСвязанныйИнфоблок>
				<БитриксОписаниеРазрешено>false</БитриксОписаниеРазрешено>
				<БитриксПоискРазрешен>false</БитриксПоискРазрешен>
				<БитриксФильтрРазрешен>false</БитриксФильтрРазрешен>
				<БитриксРасширениеТипа></БитриксРасширениеТипа>
				<БитриксОбязательное>false</БитриксОбязательное>
				<БитриксЗначениеПоУмолчанию>s:0:&quot;&quot;;</БитриксЗначениеПоУмолчанию>
				<Сериализовано>1</Сериализовано>
			</Свойство>
		</Свойства>
		<СвойстваЭлементов>
			<Свойство>
				<Ид>26</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения>F</ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>27</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения>F</ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>28</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения>F</ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>30</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения>F</ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>31</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения></ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>32</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения></ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>33</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения></ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>34</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения></ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
			<Свойство>
				<Ид>35</Ид>
				<УмныйФильтр>false</УмныйФильтр>
				<ТипОтображения></ТипОтображения>
				<ПоказатьРазвёрнутым>false</ПоказатьРазвёрнутым>
				<Подсказка></Подсказка>
			</Свойство>
		</СвойстваЭлементов>
		<Группы>
		</Группы>
	</Классификатор>
	<Каталог>
		<Ид>events_#SITE_ID#</Ид>
		<ИдКлассификатора>events_#SITE_ID#</ИдКлассификатора>
		<Наименование>Курсы</Наименование>
		<БитриксКод>events_#SITE_ID#</БитриксКод>
		<БитриксСортировка>500</БитриксСортировка>
		<БитриксURLСписок>#SITE_DIR#/events/</БитриксURLСписок>
		<БитриксURLДеталь>#SITE_DIR#/events/</БитриксURLДеталь>
		<БитриксURLРаздел>#SITE_DIR#/events/</БитриксURLРаздел>
		<БитриксURLКанонический></БитриксURLКанонический>
		<БитриксКартинка></БитриксКартинка>
		<БитриксИндексироватьЭлементы>true</БитриксИндексироватьЭлементы>
		<БитриксИндексироватьРазделы>true</БитриксИндексироватьРазделы>
		<БитриксДокументооборот>false</БитриксДокументооборот>
		<БитриксПодписи>
			<БитриксПодпись>
				<Ид>ELEMENT_NAME</Ид>
				<Значение>Курс</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENTS_NAME</Ид>
				<Значение>Курсы</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_ADD</Ид>
				<Значение>Добавить курс</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_EDIT</Ид>
				<Значение>Изменить курс</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>ELEMENT_DELETE</Ид>
				<Значение>Удалить курс</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_NAME</Ид>
				<Значение>Раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTIONS_NAME</Ид>
				<Значение>Разделы</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_ADD</Ид>
				<Значение>Добавить раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_EDIT</Ид>
				<Значение>Изменить раздел</Значение>
			</БитриксПодпись>
			<БитриксПодпись>
				<Ид>SECTION_DELETE</Ид>
				<Значение>Удалить раздел</Значение>
			</БитриксПодпись>
		</БитриксПодписи>
		<Товары>
			<Товар>
				<Ид>#ITEM_ID#44</Ид>
				<Наименование>Курс по иллюстрации </Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2021-09-10 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение></Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>На этом курсе дети научатся рисовать любимых персонажей и героев из комиксов, фильмов, мультфильмов, анимации. За время обучения ваш ребёнок познакомится с рисованием акварелью, маркерами, цветными карандашами и гуашью. В легкой увлекательной форме он изучит основы композиции, передачи объёма, стилизации и декорирования, научится рисовать людей. Ребенок может заниматься с учителем как онлайн, так и приходить на занятия в студию.

Подойдёт ли этот курс вашему ребенку? Да, если:
вы видите творческий потенциал ребёнка и хотите, чтобы он развивал его в комфортной среде, легко и с удовольствием, изображая любимых персонажей
ваш ребёнок обожает комиксы, мультфильмы, фильмы, придумывает и рисует истории, потому вы ищете курс для развития его талантов в рисунке
вы в поисках курса рисования для своего ребенка, который поможет ему развить фантазию, креативность и мышление
 

Что ваш ребенок получит от этого курса?
научится рисовать в различных техниках
в легкой и интересной форме познакомится основами рисования
будет рисовать любимых персонажей под руководством опытного педагога
станет более собранным, сконцентрированным, уверенным, спокойным благодаря занятиям рисунком
сможет заниматься в комфортной среде дома или в студии, индивидуально
 

Программа курса:
познакомимся с различными техниками иллюстрации: акварель, маркеры, цветные карандаши, гуашь
изучим основы композиции и объёмного изображения объектов
разберём способы декорирования
рассмотрим основы рисования людей
изучим базовые принципы стилизации
изобразим любимых героев в разных стилях
 </Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>26</Ид>
						<Значение>Осипова София</Значение>
						<ЗначениеСвойства>
							<Значение>Осипова София</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>27</Ид>
						<Значение>ул. Пушкина, д. 1</Значение>
						<ЗначениеСвойства>
							<Значение>ул. Пушкина, д. 1</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>28</Ид>
						<Значение>1200</Значение>
						<ЗначениеСвойства>
							<Значение>1200</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>30</Ид>
						<Значение>24.06.2021</Значение>
						<ЗначениеСвойства>
							<Значение>24.06.2021</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>31</Ид>
						<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>32</Ид>
						<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>33</Ид>
						<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>34</Ид>
						<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>35</Ид>
						<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/792/y2ikck5a267pv8qvicvw2ggpocnq34yg.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>#ITEM_ID#45</Ид>
				<Наименование>Основы финансовой грамотности</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2021-09-10 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение></Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>Этот курс познакомит Вашего ребёнка с деньгами, расскажет, как их зарабатывать, накапливать и грамотно тратить на свои цели. Программа состоит из видеоуроков и индивидуальный занятий ученика с преподавателем.

Подойдёт ли мне этот курс? Да, если Вы:
ищете курс, на котором ребёнок узнает, что такое деньги и как с помощью них достичь своих целей
хотите, чтобы Ваш(а) сын/дочь стал(а) ответственнее, осознал(а) свои возможности и научился(-лась) планировать свои расходы
желаете как можно раньше познакомить своего ребёнка с заработком и инвестициями, чтобы он смог воплотить свои мечты 
 

Что Ваш ребёнок получит от этого курса?
научится ставить краткосрочные и долгосрочные цели
осознает свои возможности и разовьет личные качества
изучит, как эффективно вести личный бюджет
научится распоряжаться личными финансами и планировать свои расходы
узнает, как принимать грамотные финансовые решения
 

Программа курса:
Занятие 1. Введение

Знакомимся и выясняем, зачем вообще нужна финансовая грамотность. 
Обсудим, как и когда это поможет в жизни, а также позволит воплотить мечты уже сейчас.
 

Занятие 2. Что такое деньги

Узнаем откуда и как появились деньги. 
Поговорим о том, как менялись деньги с течением времени. 
Разберём, как связаны деньги и технологии в современном мире.
 

Занятие 3. Цели

Учимся отличать доход, желания, потребности и цели (финансовые естественно). 
Составляем план по достижению своих целей (SMART). 
Разбираемся с тем, что такое доход.
 

Занятие 4. Экономия

Узнаем, что такое экономия и как правильно ее использовать для достижения целей (мечты). 
Учимся откладывать часть денег от своего «дохода». 
Учимся разумному обращению с деньгами.
 

Занятие 5. Заработок

Поговорим о том, что заработать деньги можно только сделав что-то полезное для других, решив их людей. 
Узнаем семь способов, как школьнику зарабатывать и одновременно развивать свои качества.
 

Занятие 6. Сбережения/Инвестиции

Узнаем, в чем отличие инвестиций от умных сбережений. 
Разбираемся, что такое инфляция, и как лучше хранить деньги. 
Разбираемся в понятиях: банковский вклад, акции, депозит, диверсификация, налоги и т.д.
 

Занятие 7. Личный бюджет

Учимся планировать бюджет для достижения целей, а также отличать понятия профицит и дефицит. 
Разбираемся, в чем основная задача бюджета. 
Учимся делить бюджет на доходную и расходную части.
 

Занятие 8. Непредвиденные расходы

Учимся находить финансовые ловушки и бороться с ними. 
Учимся противостоять манипуляциям рекламы в интернете и магазинах. 
Закрепляем тему «Как контролировать бюджет».
 

Занятие 9. Финансовые решения

Узнаем восемь базовых правил, которые помогут принимать только правильные финансовые решения в течение всей жизни.
 

Занятие 10. Банковские карты

Узнаем, на какие два типа делятся карты. 
Разберём, что нужно делать, если потерял карту или если её украли. 
Рассмотрим, какие есть преимущества у банковской карты по сравнению с бумажными или железными деньгами.
 

Занятие 11. Благотворительность

Узнаем, что такое благотворительность и зачем это нужно. 
Поговорим о том, как можно помогать другим, как выбрать подходящее время. 
Получим советы по правильному отношению к благотворительности.
 

Занятие 12. Экономия ресурсов

Учимся экономно относиться к природным ресурсам, разбираемся, как это помогает экономить семейный бюджет. 
Узнаем, как развить в себе правильные «бережливые» привычки.
 

У каждого ученика — свой преподаватель, с которым он будет прорабатывать видео-уроки, домашние задания и личные цели.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>26</Ид>
						<Значение>Одинцова Арина</Значение>
						<ЗначениеСвойства>
							<Значение>Одинцова Арина</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>27</Ид>
						<Значение>ул. Пушкина, д. 1</Значение>
						<ЗначениеСвойства>
							<Значение>ул. Пушкина, д. 1</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>28</Ид>
						<Значение>1500</Значение>
						<ЗначениеСвойства>
							<Значение>1500</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>30</Ид>
						<Значение>24.06.2021</Значение>
						<ЗначениеСвойства>
							<Значение>24.06.2021</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>31</Ид>
						<Значение>events_files/iblock/b4c/hfiu4a2wz5mtvacxk51eect7owkevatt.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/b4c/hfiu4a2wz5mtvacxk51eect7owkevatt.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>32</Ид>
						<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>33</Ид>
						<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>34</Ид>
						<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>35</Ид>
						<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/864/3093q3nuzhjarnsnch3qjsjbeg0hjm6z.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>#ITEM_ID#46</Ид>
				<Наименование>Курсы по IT</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2021-09-10 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение></Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>Приглашаем детей от 8 до 15 лет провести летние каникулы с пользой и ощутить себя разработчиками настоящих компьютерных 3-D игр! Погрузитесь в процесс их программирования и создайте собственную уникальную игровую вселенную, живущую по вашим правилам!</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>26</Ид>
						<Значение>Архипова Екатерина</Значение>
						<ЗначениеСвойства>
							<Значение>Архипова Екатерина</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>27</Ид>
						<Значение>ул. Пушкина, д. 25</Значение>
						<ЗначениеСвойства>
							<Значение>ул. Пушкина, д. 25</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>28</Ид>
						<Значение>2000</Значение>
						<ЗначениеСвойства>
							<Значение>2000</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>30</Ид>
						<Значение>24.06.2021</Значение>
						<ЗначениеСвойства>
							<Значение>24.06.2021</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>31</Ид>
						<Значение>events_files/iblock/c3a/01w3vk2c0p1j919i1s1sdbkm4x0dd311.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/c3a/01w3vk2c0p1j919i1s1sdbkm4x0dd311.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>32</Ид>
						<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>33</Ид>
						<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>34</Ид>
						<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>35</Ид>
						<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/0b5/xl30vypo1c83bbz0vepese37f4ovtviz.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>#ITEM_ID#47</Ид>
				<Наименование>Курс «Вокал для новичков и профессионалов»</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2021-09-10 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение></Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>Курс сочетает авторские программы обучения для учеников разного уровня, возраста и пожеланий и лучшее техническое оснащение для качественных занятий онлайн. На пробном занятии вместе с педагогом Вы выберете программу и составите удобный для Вас график занятий.

О курсе
Программа обучения делится на 4 ступени в зависимости от навыка ученика. На пробном занятии Вас прослушает педагог, узнает Ваши цели и пожелания и предложит Вам на выбор несколько программ для удалённых занятий. Также Вы получите записи ваших занятий, которые помогут восстановить материал и проанализировать ошибки. На уроках Вы будете работать над дыханием, артикуляцией, распевками, вокальными навыками и приёмами, а также разучивать репертуар. Обучение проводится индивидуально как для взрослых, так и для детей.

Подойдёт ли мне этот курс? Да, если Вы:
мечтаете научиться петь и хотите заниматься индивидуально в комфортной для себя обстановке
ищете онлайн-курс вокала для Вашего ребёнка с опытными преподавателями, индивидуальным обучением и программами для детей
опытный вокалист, сольный певец, вокалист группы и желаете поработать над отдельными аспектами своего вокала, освоить вокальные приёмы и найти свой стиль звучания
хотите подготовиться к выступлению, но у Вас нет времени на поездки в школу, потому ищете онлайн-курс с качественной связью
 

Что я получу от этого курса?
будете заниматься по авторским программам у опытных педагогов
сможете выбрать программу для вашего голоса, уровня навыка и пожеланий
освоите базовые вокальные навыки и приемы эстрадного, джазового, рок-вокала
будете заниматься в комфортной для себя обстановке один на один с педагогом
научитесь владеть своим голосом и выразительно исполнять свой репертуар
 

Программа курса
Методика курса разделена на 4 ступени, для каждой из которой разработана своя программа обучения:

новичок
поющий
вокалист
артист
 

Уроки включают:

дыхательные упражнения
артикуляционную гимнастику
технику речи
распевания (в зависимости от ступени обучения)
работу над вокальными приёмами в зависимости от задач: вибрато, мелизмы, йодль, бэлтинг, расщепление и т. д.
работа над репертуаром
 

Вы сможете повторно просмотреть запись занятия и восстановить упражнения в памяти. Также Вы получите упражнения для самостоятельной проработки, которые помогут Вам быстрее добиться заметных результатов.

Ученики могут переносить занятия. Администратор будет следить за Вашим расписанием и организовано его записывать.

Другие преподаватели курса:

Кристина Кузнецова. Педагог по эстрадно-джазовому вокалу, певица, композитор, автор песен (сольный творческий проект AHSARA), вокалистка cover-группы DOIT. Образование: Владикавказский колледж искусств им.В.Гергиева — дирижерско-хоровое отделение, «Курс 24» для вокалистов и педагогов по вокалу от Ирины Цукановой (RULADA), методика IMPROVINATION.
Алина Мощенко. Выступающий артист, педагог по эстрадно-джазовому вокалу, вокалистка кавер-группы, актриса, модель. Закончила -Могилевская Государственная Гимназия-колледж искусств, отделение «Хоровое дирижирование», Московское Государственное училище эстрадно-джазового искусства, Институт современного искусства. Степени, звания, дипломы , награды: финалистка белорусского отборочного тура «Евровидение 2014» (топ 10), стипендиат специального фонда Президента Республики Беларусь.
Лев Блюмин. Педагог по вокалу, артист оперы, мюзикла, и драматического театра, участник рок групп, композитор, аранжировщик. Образование: МГИМ им. А. Г. Шнитке (колледж) – диплом с отличием.
Лауреат всероссийских дельфийских игр. Лауреат премии «Гранты Мэра Москвы».</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>26</Ид>
						<Значение>Shelly</Значение>
						<ЗначениеСвойства>
							<Значение>Shelly</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>27</Ид>
						<Значение>ул. Пушкина, д. 1</Значение>
						<ЗначениеСвойства>
							<Значение>ул. Пушкина, д. 1</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>28</Ид>
						<Значение>1200</Значение>
						<ЗначениеСвойства>
							<Значение>1200</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>30</Ид>
						<Значение>20.06.2021</Значение>
						<ЗначениеСвойства>
							<Значение>20.06.2021</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>31</Ид>
						<Значение>events_files/iblock/c3a/01w3vk2c0p1j919i1s1sdbkm4x0dd311.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/c3a/01w3vk2c0p1j919i1s1sdbkm4x0dd311.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>32</Ид>
						<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>33</Ид>
						<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>34</Ид>
						<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>35</Ид>
						<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/297/h45g8k8xzjqp9gwojjs5k57lqeyfq1da.jpeg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
			<Товар>
				<Ид>#ITEM_ID#48</Ид>
				<Наименование>Курсы актерского мастерства</Наименование>
				<БитриксТеги></БитриксТеги>
				<Группы>
				</Группы>
				<Картинка>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Картинка>
				<ЗначенияСвойств>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE</Ид>
						<Значение>true</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_CODE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_SORT</Ид>
						<Значение>500</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_FROM</Ид>
						<Значение>2021-09-10 00:00:00</Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_ACTIVE_TO</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_TEXT</Ид>
						<Значение></Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_DETAIL_TEXT</Ид>
						<Значение>Курсы актёрского мастерства для детей и подростков позволяют ребенку узнать тайны сцены и кулис, приглашают в увлекательный и захватывающий мир театра, будят воображение и помогают раскрыть свой талант.

Актёрские курсы для подростков и детей.
Курсы актёрского мастерства для детей и подростков в театре-студии «ПРЕМЬЕР», включают механизмы формирования личности, особенно важные в период взросления человека. Мы даем ребенку простор для выбора и поиска себя, укрепляя в нем веру в собственные силы.

В своей работе при ведении театральных актёрских курсов для подростков и детей мы используем проверенные методики :
систему Константина Станиславского, которая дарит ребенку возможность узнать многообразие жизни и внутренне прочувствовать доступность его ролей;
психологию юношества, помогающую осознать подростку каждый момент своей жизни как уникальный шанс для роста и развития;
театральные игротехники, используемые на курсах актёрского мастерства, обучают ребенка владеть своими эмоциями, телом и голосом.
Чему можно научиться на театральном курсе актёрского мастерства для детей и подростков?
Под наблюдением опытного педагога, в кругу своих сверстников, в непринужденной творческой атмосфере, ваш ребенок научится:

управлять своими эмоциями;
правильно говорить и четко излагать свои мысли;
чувствовать собеседника и уметь слышать другого;
концентрировать внимание;
выступать на публике;
свободно и непринужденно двигаться.</Значение>
						<Тип>text</Тип>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>CML2_PREVIEW_PICTURE</Ид>
						<Значение></Значение>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>26</Ид>
						<Значение>Ляшенко Анатолий</Значение>
						<ЗначениеСвойства>
							<Значение>Ляшенко Анатолий</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>27</Ид>
						<Значение>ул. Пушкина, д. 1</Значение>
						<ЗначениеСвойства>
							<Значение>ул. Пушкина, д. 1</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>28</Ид>
						<Значение>4000</Значение>
						<ЗначениеСвойства>
							<Значение>4000</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>30</Ид>
						<Значение>30.07.2021</Значение>
						<ЗначениеСвойства>
							<Значение>30.07.2021</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>31</Ид>
						<Значение>events_files/iblock/c72/hrhm5zi5zqwci0wmi504hinlfdc586ut.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/c72/hrhm5zi5zqwci0wmi504hinlfdc586ut.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>32</Ид>
						<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>33</Ид>
						<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>34</Ид>
						<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
					<ЗначенияСвойства>
						<Ид>35</Ид>
						<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
						<ЗначениеСвойства>
							<Значение>events_files/iblock/ca7/6ydg50f6olan34cnni4031h5iu6f13p2.jpg</Значение>
							<Описание></Описание>
						</ЗначениеСвойства>
					</ЗначенияСвойства>
				</ЗначенияСвойств>
			</Товар>
		</Товары>
	</Каталог>
</КоммерческаяИнформация>
