body {
	color: #606060;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
    font-family: 'Open Sans', sans-serif; 
}
a:focus,
a:hover {
    color: #ec1c23;
}
a,
button,
input {
    color: #606060;
}button{border: 0}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color: inherit}
label {
    color: #606060;
}
*::-moz-selection {
    background: #b3d4fc;
    color: #fff;
}
::-moz-selection {
    color: #fff;
    background: #b3d4fc;
}
::selection {
    background: #b3d4fc;
    color: #fff;
}
.browserupgrade {
    background: #ccc;
    color: #000;
}
.mark, mark {
    background: #4fc1f0 none repeat scroll 0 0;
    color: #ffffff;
}
.f-left {float: left}
.f-right {float: right}
p {
    color: #666666;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #969696;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #969696;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #969696;
}
:-moz-placeholder { /* Firefox 18- */
    color: #969696;
}
.bg-light{background: #FAFAFA}
.default-btn {
    color: #fff;
    background: #ec1c23;
}
.default-btn:hover {color: #ec1c23; background: #fff}
.banner-content h2{
    color: #fff;
}
.banner-breadcrumb ul li a, .banner-breadcrumb ul li{
    color: #fff;
}
.banner-breadcrumb ul li:hover a{color: #471A72}
.one.mobile-menu a.meanmenu-reveal span {
    background-color: #fff;
}
.one.mobile-menu a.meanmenu-reveal {
    border: 1px solid #fff;
    color: #fff;
}
.header-contact > a {
    border: 1px solid #471a72;
    color: #666666;
}
.main-menu nav > ul > li > a {
    color: #303030;;
}
.header-area.two .main-menu nav > ul > li > a {
    color: #303030;
}
.main-menu nav ul > li:hover > a {color: #ec1c23;}
.main-menu ul li ul {
    background: #ffffff none repeat scroll 0 0;
}
.main-menu nav ul li ul li a {
    color: #252525;
}
.mean-container a.meanmenu-reveal {
    border: 1px solid #2c2b5e;
    color: #000;
}
.intelligent-header.headroom--pinned {}
.intelligent-header.headroom--not-top {
    background: #ffffff none repeat scroll 0 0;
}
.header-sticky.sticky {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
}
.header-sticky.sticky.two{
    background: rgba(255, 255, 255, 0.8);
}
.header-area .sticky {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}
.mobile-header {
    background: #ffffff none repeat scroll 0 0;
}
.menu-icon {
    border: 1px solid #464646;
    color: #464646;
}
.mobile-menu-area {
    background-color: #fff;
}
.mobile-menu-area .menu-close {
    background-color: transparent;
    border: 2px solid #858585;
    color: #858585;
}
.mobile-menu-area .menu-close:hover {
    color: #433a8b;
    border-color: #433a8b;
}
.header-social ul li a{
    color: #191919;
}
.header-social ul li:hover a{color: #471a72}
.search {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
#search-form > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #cacaca;
    color: #252525;
}
#search-form > input::-moz-placeholder {color: #252525;} 
#search-form > input::-webkit-input-placeholder {color: #252525;}
#search-form > button {
  background: #2c2b5e none repeat scroll 0 0;
  border: 2px solid #c5c596;
  color: #ffffff;
}
#search-form > button:hover{
    background: #ec1c23;
    border: 2px solid #939369;
}
.search-menu {
    background: #2c2b5e none repeat scroll 0 0;
    color: #fff;
}
.search-menu:hover{background:#ec1c23}
.header-top{
    background: #ec1c23;
}
.header-top:after{
    background: #2c2b5e;
}
.header-top::before {
    background: #fff none repeat scroll 0 0;
}
.header-top-right{position: relative}
.header-top-right::after {
  background: #2c2b5e none repeat scroll 0 0;
}
.header-top-left p, .header-top-right ul li a{
    color: #fff;
}
.header-top-right ul li:hover a{
    color: #ec1c23;
}
.header-area.two .main-menu > ul > li > a {
    color: #303030;
}
.header-area.two .main-menu > ul > li:hover > a {
    color: #ec1c23;
}
/*----------------------------------------*/
/*  3. Slider CSS
/*----------------------------------------*/ 
.single-slide:after, .banner-area:after{
    background: rgba(0, 0, 0, 0.32);
}
.two .single-slide:after{
    background: rgba(0, 0, 0, 0.55);
}
.three .single-slide:after, .banner-area:after{
    background: rgba(0, 0, 0, 0.80);
}
.slide-content h3 {
    color: #fff;
}
.slide-content h2 {
    color: #fff;
}
.slide-content p {
    color: #fff;
}  
.owl-nav div {
    background: rgba(236, 28, 35, 0.64);
    color: #ddd;
}
.owl-nav div:hover{ color: #fff}
/*----------------------------------------*/
/*  4. Notice CSS
/*----------------------------------------*/
.notice-left, .notice-right{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.notice-left h3, .notice-left-wrapper h3, .notice-right-wrapper h3{
    color: #2c2b5e;
}
.single-notice-left, .single-notice-right{border-bottom: 1px solid #E7E7E7}
.single-notice-left h4{
    color: #ec1c23;
}
.single-notice-left p, .single-notice-right p{
    color: #303030;
}
.single-notice-right h3{
    color: #2c2b5e;
}
.video-icon a i{
    color: #2B2A5A;
    background: #FFFFFF;
}
.video-icon a:hover i{
    color: #ec1c23;
}
.notice-video::after {
  background: rgba(44, 43, 94, 0.90);
}
/*-----------------------------------------*/
/*  5. Choose CSS
/*----------------------------------------*/
.choose-area:after{
    background: rgba(44, 43, 94, 0.9);
}
.choose-content h2{
    color: #fefefe;
}
.choose-content p{
    color: #fff;
}
/*----------------------------------------*/
/*  6. Courses CSS
/*----------------------------------------*/
.section-title h2{
    color: #2c2b5e;
}
.course-content{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15); 
}
.course-content h3{
    color: #303030;
}
.course-content p{
    color: #606060;
}
.course-content .default-btn:hover {
    background: #2c2b5e;
    color: #fff;
}
.course-img a:after {
    background: rgba(236, 28, 35, 0.3);
}
.course-hover i{
    color:#fff;
}
.course-hover i:hover{
    color:#2c2b5e;
}
.courses-area.two:after{
    background: rgba(44, 43, 94, 0.92);
}
.courses-area.two .section-title h2{color: #fff}
.courses-area.two .course-content {background: #fff}
.course-title h3{
    background: #2c2b5e;
    color: #fff;
}
.course-title h3::after {
    background: #fff none repeat scroll 0 0;
}
.course-form form input{
    border: 1px solid #EBEBEB;
    background: white;
}
.course-form form button{
    background: #ec1c23;
    color: #fff;
    color: #fff;
}
.course-details-content h2{
    color: #303030;
}
.course-details-content p{
    color: #606060;
}
.course-details-left h3, .course-details-right h3{
    color: #303030;
}
.course-details-right{padding: 45px 35px 45px; border: 1px solid #E1E1E1}
.course-details-right ul li{
    color: #303030;
    border-bottom: 1px solid #EBEBEB;
}
.course-details-right h3.red{color: #ec1c23; margin-bottom: 0;}
/*----------------------------------------*/
/*  7. Event CSS
/*----------------------------------------*/
.single-event{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.event-date{
    background: #2c2b5e;
}
.event-date h3{
    color: #fefefe;
}
.event-date h3:hover a{
    color: #fefefe;
}
.event-content-left h4{
    font-size: 16px;
    color: #303030;
}
.event-content-left ul li{
    color: #606060;
}
.event-content-left ul li i{
    color: #606060;
}
.event-content-right{padding: 6px 0}
.event-content-right a{
    color: #303030;
    border: 1px solid #E1E1E1;
}
.event-content-right a:hover{
    color: #fff;
    background: #ec1c23;
    border: 1px solid #ec1c23;
}
.single-event:hover .event-date{background: #ec1c23}
.event-area.two .event-content h3{
    color: #2c2b5e;
}
.event-area.two .event-content h4 a{
    color: #606060;
}
.event-area.two .event-content h4 a:hover{
    color: #ec1c23;
}
.event-area.two .event-content ul li {
    color: #606060;
}
.event-area.three .event-img a:after{
    background: rgba(236, 28, 35, 0.3) none repeat scroll 0 0;
}
.event-area.three .event-date, .event-details-img .event-date{
    background: rgba(44, 43, 94, 0.79);
}
.event-area.three .event-img h3{
    color: #fefefe;
}
.event-area.three .event-img h3 span{
    color: #fefefe;
}
.event-area.three .event-content h4 a{
    color: #303030; 
}
.event-area.three .event-content h4:hover a{color: #ec1c23}
.event-area.three .event-content ul li span{
    color: #606060;
}
.event-area.three .event-content-right a {
    background: #ec1c23 none repeat scroll 0 0;
    color: #fff;
}
.event-area.three .event-content-right a:hover{
    background: #2c2b5e;
    border: 1px solid #2c2b5e;
}
.event-details-content h2{
    color: #303030;
}
.event-details-content ul li{
    color: #606060;
}
.event-details-content p{
    color: #606060;
}
.speakers-area h4{
    color: #303030;
}
.speaker-name h5{
    color: #303030;
}
.speaker-name p{
    color: #303030;
}
/*----------------------------------------*/
/*  8. Testimonial CSS
/*----------------------------------------*/
.testimonial-area:after{
    background: rgba(44, 43, 94, 0.9);
}
.testimonial-area.three{background: #FAFAFA}
.testimonial-area.three .testimonial-content p{color: #606060}
.testimonial-area.three .testimonial-content h4, .testimonial-area.three .testimonial-content h5{color: #303030}
.testimonial-img img{
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.three .testimonial-img img{
    border: 1px solid #f1f1f1;
}
.testimonial-content p, .testimonial-content h5{
    color: #fff;
}
.testimonial-content h4{
    color: #fff;
}
/*----------------------------------------*/ 
/*  9. Blog CSS
/*----------------------------------------*/
.single-blog{box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15)}
.blog-img a:after{
    background: rgba(236, 28, 35, 0.5);
}
/*
*/
.blog-hover i{
    color: #fff;
}
.blog-hover i:hover{
    color: #2c2b5e;
}
.blog-top p{
    color: #606060;
    border-bottom: 1px solid #E1E1E1;
}
.blog-top p i{
    color: #606060;
}
.blog-bottom h2 a{
    color: #303030;
}
.blog-bottom h2 a:hover{
    color: #ec1c23;
}
.blog-bottom a{
    color: #ec1c23;
}
.blog-bottom a:hover{
    color: #2c2b5e;
}
.single-blog-widget h3{
    color: #303030;
}
.blog-search form input{
    border: 1px solid #E1E1E1;
    color: #606060;
}
.blog-search form button{
    background: #EBEBEB;
}
.blog-search form button:hover{
    background: #ec1c23;
}
.blog-search form button i{
    color: #606060;
}
.blog-search form button:hover i{
    color: #fff;
}
.single-blog-widget ul li a{
    color: #606060;
}
.single-blog-widget ul li:hover a{
    color: #ec1c23;
}
.single-blog-banner a:after{
    background: rgba(0, 0, 0, 0.48);
}
.single-blog-banner h2{
    color: #fefefe;
}
.single-post-img a:after{
    background:  rgba(236, 28, 35, 0.5) none repeat scroll 0 0;
}
.single-post-content h4{
    color: #303030;
}
.single-post-content p{
    color: #606060;
}
.single-tag a{
    border: 1px solid #E1E1E1;
    color: #606060;
}
.single-tag a:hover{
    color: #fff;
    background: #2c2b5e;
    border: 1px solid #2c2b5e;
}
.blog-details-content h2{
    color: #303030;
}
.blog-details-content h6{
    color: #606060;
}
.blog-details-content p{
    color: #606060;
}
.blog-details-content p.quote{
    color: #606060;
}
.reply-area h3{
    color: #303030;
}
.reply-area p{
    color: #606060;
}
.reply-area form p{
    color: #030303;
}
.reply-area form input, .reply-area form textarea{
    border: 1px solid #E1E1E1;
}
.reply-area form a.reply-btn{
    background: #2c2b5e;
    color: #fff;
}
.reply-area form a.reply-btn:hover{
    background: #ec1c23;
}
/*----------------------------------------*/ 
/*  10. Subscribe CSS
/*----------------------------------------*/
.subscribe-area{background: #FAFAFA}
.subscribe-content p{
    color: #606060;
}
.newsletter-form form input{
    border: 1px solid #E1E1E1;
}
.newsletter-form form button:hover{
    background: #2c2b5e;
    color: #fff;
}
/*----------------------------------------*/ 
/*  11. Scrollup CSS
/*----------------------------------------*/
#scrollUp {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #ffffff;
}
#scrollUp i {
    color: #ffffff;
}
#scrollUp {
    background: #ec1c23 none repeat scroll 0 0;
}
/*----------------------------------------*/ 
/*  12. Footer CSS
/*----------------------------------------*/

.single-widget h3{
    color: #606060;
}
.single-widget h3::after {
    background: #606060 none repeat scroll 0 0;
}
.single-widget h3::before {
    background: #606060 none repeat scroll 0 0;
}
.single-widget p {
    color: #7d7d7d;
}

.single-widget ul li {
    color: #7d7d7d;
}
.footer-social ul li a{
    border: 1px solid #DADADA;
    color: #7D7D7D;
}
.footer-area.two .footer-social ul li a{
    border: 1px solid #7A7A93;
    color: #c7c7c7;
}
.footer-social ul li:hover a, .footer-area.two .footer-social ul li:hover a{
    border: 1px solid #ec1c23;
    background: #ec1c23;
    color: #fff;
}
.footer-bottom{background: #2c2b5e}
.footer-bottom p {
    color: #c7c7c7;
}
.footer-bottom p a{
    color: #fff;
}
.footer-area.three .footer-bottom {
    background: #fafafa none repeat scroll 0 0;
}
.footer-area.three .footer-bottom p a {
    color: #c7c7c7;
}
.single-widget.instagram a:after{
    background:  rgba(236, 28, 35, 0.5) none repeat scroll 0 0;
}
.single-widget.instagram a i{
    color: #fff;
}
/*----------------------------------------*/ 
/*  13. Service CSS
/*----------------------------------------*/
.single-service{padding: 40px 40px; box-shadow: 0 0 4px 0 #ddd;}
.service-area h3{
    color: #303030;
}
.service-area p{
    color: #606060;
}
/*----------------------------------------*/ 
/*  14. About CSS
/*----------------------------------------*/
.about-content h2{
    color: #303030;
}
.about-content h2 span{
    color: #ec1c23;
}
.about-content p{
    color: #606060;
}
.about-content a:hover{
    color: #fff;
    background: #2c2b5e;  
}
.about-img:after{
    border: 10px solid #EBEBEB;
}
/*----------------------------------------*/ 
/*  15. Teacher CSS
/*----------------------------------------*/
.single-teacher{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.single-teacher-img a:after{
    background: rgba(231, 231, 231, 0.84);
}
.single-teacher:hover .single-teacher-img a:after{opacity: 1}
.single-teacher-content {
    background: #fff none repeat scroll 0 0;
}
.single-teacher:hover .single-teacher-content{bottom: 00px}
.single-teacher-content h2 {
    color: #303030;
}
.single-teacher-content h4{
    color: #929292;
}
.single-teacher-content ul li a i{
    color: #2c2b5e;
    background: #F6F6F6;
}
.single-teacher-content ul li:hover a i{
    color: #fff;
    background: #ec1c23;
}
.pagination ul li a{    
    color: #606060;
    background: #fff;
    border: 1px solid #EBEBEB;
}
.pagination ul li:hover a{    
    color: #fff;
    background: #2c2b5e;  
}
.teacher-details-content h2 {
    color: #303030;
}
.teacher-details-content h5{
    color: #929292;
}
.teacher-details-content h4{
    color: #303030;
}
.teacher-details-content p{
    color: #606060;
}
.teacher-details-content ul li span{
    color: #303030;
}
.teacher-contact h4, .skill-area h4{
    color: #303030;
}
.teacher-contact p span{
    color: #303030;
}
.teacher-contact p{
    color: #606060;
}
.teacher-contact ul li{
    color: #606060; 
}
.teacher-contact ul li a i{
    color: #2c2b5e;
    background: #F6F6F6;
}
.teacher-contact ul li:hover a i{
    color: #F6F6F6;
    background: #2c2b5e;
}
.skill-bar-item > span {
    color: #606060;
}
.progress {
    background-color: #e8e8e8;
}
.progress-bar {
    background-color: #d4d3d3;
}
.progress-bar span.text-top {
    background: #e6e6e6 none repeat scroll 0 0;
    color: #606060;
}
.skill-bar-item .text-top::after {
border-color: #e6e6e6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
/*----------------------------------------*/ 
/*  16. Contact CSS
/*----------------------------------------*/
.contact-contents{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13); 
}
.contact-icon {
  border: 1px solid #e3e3e3;
}
.contact-add h3{
    color: #303030;
}
.contact-add p{
    color: #606060;
}
.contact-area .reply-area h3{margin-top: 0}
/*---------------------
  17. Login CSS
-------------------------*/
.login-form-container {
  background: #f5f5f5 none repeat scroll 0 0;
}
.login-text h2 {
    color: #444;
}
.login-form-container input {
    background: #ffffff none repeat scroll 0 0;
    color: #666666;
    border: medium none rgba(0, 0, 0, 0);
}
.login-form-container input::-moz-placeholder {
    color: #666666;
}
.login-form-container input::-webkit-input-placeholder {
    color: #666666;
}
.login-form-container label {
    color: #606060;
}
.login-toggle-btn > a {
    color: #ec1c23;
}
.login-toggle-btn > a:hover {
    color: #444;
}
.button-box .default-btn {
    border: 1px solid #ec1c23;
}
.button-box .default-btn:hover {
    background-color: #ec1c23;
    border: 1px solid #ec1c23;
    color: #fff;
}

.sphone {
    color: #fff;
    background: #ec1c23 !important;
}
.inputsearch{
    border: 1px solid #E1E1E1;
    color: #606060;
}
.btnsearch{
    color: #fff;
    background: #ec1c23 !important;
}
.owl-dot {
    background: rgba(127,127,127, 0.5);
}
.owl-dot.active {
    background: white;
}
.sendcont {
    background: #2c2b5e;
    color: #fff;
}
.owl-nav div {
	#ec1c23
}
.nicescroll-cursors {
	background-color: #ec1c23;
}