body {
    color: #aeb4b6;
}
p {
    color: #5d6978;
}
a:hover {
    color: inherit;
}
p {
    color: #575757;
}

.btn-default {
    color: #fff;
    background-color: #1260a0;
}
.btn-default:hover {
    color: #fff;
    background-color: #1260a0;
}
.btn-default:hover i {
    color: #f37335;
}

.btn-default i {
    background-color: #fff;
    color: #1260a0;
}
.social-links li a {
    color: #fff;
    background-color: #1260a0;
}
header .header-content .contact-add li .contact-info .contact-tt > h4 {
    color: #2b2b2b;
}
header .header-content .contact-add li .contact-info .contact-tt > span {
    color: #575757;
}
header .navigation-bar nav ul li a {
    color: #2b2b2b;
}
header .navigation-bar nav ul li a:hover {
    color: #1260a0;
}
header .navigation-bar nav ul li a:before {
    background-color: #1260a0;
}
header .navigation-bar nav ul ul {
    background-color: #fff;
}
.main-section .main-title {
    color: #f37335;
}
.main-banner .banner-text > h2 {
    color: #2b2b2b;
}
.main-banner .banner-text > h2 span {
    color: #f37335;
}
.main-banner .banner-text > h2 span:before {
    background-color: #f37335;
}
.main-banner .banner-text p {
    color: #575757;
}
.main-banner .banner-text .search-form input {
    color: #575757;
    border: 2px solid #f6f4f4;
}
.main-banner .banner-text .search-form button {
    color: #1260a0;
}
.main-banner .banner-text .search-form button:hover {
    color: #f37335;
}
.section-title > h2 > span {
    color: #f37335;
}
.section-title p {
    color: #575757;
}
.about-us-section .about-sec .abt-col {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(21, 87, 153, 0.08);
}
.about-us-section .about-sec .abt-col:hover {
    box-shadow: 0 0 20px rgba(21, 87, 153, 0.09);
}
.about-us-section .about-sec .abt-col > h3 {
    color: #2b2b2b;
}
.about-us-section .about-sec .abt-col p {
    color: #575757;
}
.sec-title > h2 {
    color: #2b2b2b;
}
.classes-section .classes-col .class-thumb:before {
    background-color: #1260a0;
}
.classes-section .classes-col .class-thumb .crt-btn {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.classes-section .classes-col .class-info {
    border: 1px solid #d6d6d6;
}
.classes-section .classes-col .class-info > h3 {
    color: #2b2b2b;
}
.classes-section .classes-col .class-info > span {
    color: #575757;
}
.classes-section .classes-col .class-info .posted-by a {
    color: #575757;
}
.classes-section .classes-col .class-info .price {
    color: #1260a0;
}
.teachers-section .teachers .teacher .teacher-img .sc-div {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.teachers-section .teachers .teacher .teacher-img .sc-div ul li a {
    color: #fff;
}
.teachers-section .teachers .teacher .teacher-info > h3 {
    color: #2b2b2b;
}
.teachers-section .teachers .teacher .teacher-info > span {
    color: #1260a0;
}
.course-section .find-course .sec-title > h3 {
    color: #1260a0;
}
.course-section .courses-list .course-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(21, 87, 153, 0.08);
}
.course-section .courses-list .course-card .course-meta li {
    color: #575757;
}
.course-section .courses-list .course-card .course-meta + span {
    color: #1260a0;
}
.course-section .courses-list .course-card > h3 {
    color: #2b2b2b;
}
.course-section .courses-list .course-card .posted-by > a {
    color: #575757;
}
.course-section .courses-list .course-card .locat {
    color: #575757;
}
.course-section .all-btn {
    color: #1260a0;
}
.blog-section .blog-posts .blog-post .blog-thumbnail:before {
    background-color: rgba(0, 0, 0, 0.3);
}
.blog-section .blog-posts .blog-post .blog-thumbnail .category {
    color: #2b2b2b;
    background-color: #ffd31d;
}
.blog-section .blog-posts .blog-post .blog-info > h3 {
    color: #2b2b2b;
}
.blog-section .blog-posts .blog-post .blog-info > h3:hover {
    color: #1260a0;
}
.blog-section .blog-posts .blog-post .blog-info .read-more {
    color: #1260a0;
}
.meta li a {
    color: #575757;
}
.newsletter-section .newsletter-sec {
    background: linear-gradient(90deg, #f37335, #f37335);
}
.newsletter-section .newsletter-sec .newsz-ltr-text > h2 {
    color: #2b2b2b;
}
.newsletter-section .newsletter-sec .newsletter-form .form-group input,
.newsletter-section .newsletter-sec .newsletter-form .form-group select {
    background-color: #fddead;
    color: #575757;
}
.newsletter-section .newsletter-sec .newsletter-form .form-group textarea {
    color: #575757;
    background-color: #fddead;
}
.newsletter-section .newsletter-sec .newsletter-form .form-group.select-tg:before {
    color: #575757;
}
footer {
    background-color: #f2f7fd;
}
footer .widget-contact ul li .contact-tt > h4 {
    color: #2b2b2b;
}
footer .widget-contact ul li .contact-tt > span {
    color: #575757;
}
footer .widget-title {
    color: #2b2b2b;
}
footer .widget-links li a {
    color: #575757;
}
footer .widget-links li a:hover {
    color: #1260a0;
}
footer .bottom-footer {
    border-top: 1px solid #bfbfbf;
}
.pager-section {
    background: url(../img/pager-bg.png), #f2f7fd;
}
.pager-section.blog-version:before {
    background-color: rgba(0, 0, 0, 0.4);
}
.pager-section.blog-version .pager-content > h2 {
    color: #fff;
}
.pager-section.blog-version .pager-content ul li:before {
    background-color: #fff;
}
.pager-section.blog-version .pager-content ul li a,
.pager-section.blog-version .pager-content ul li span {
    color: #fff;
}
.pager-section.blog-version .pager-content .categry {
    color: #2b2b2b;
    background-color: #ffd31d;
}
.pager-section .pager-content > h2 {
    color: #2b2b2b;
}
.pager-section .pager-content > ul li:before {
    background-color: #575757;
}
.pager-section .pager-content > ul li a,
.pager-section .pager-content > ul li span {
    color: #575757;
}
.pager-section .page-titlee {
    color: #f37335;
}
.about-page-content .act-inffo > span {
    color: #f37335;
}
.about-page-content .act-inffo > h2 {
    color: #2b2b2b;
}
.about-page-content .act-inffo ul li {
    color: #575757;
}
.classes-page .classes-banner:before {
    background: linear-gradient(270deg, #fff, #fff);
}
.classes-page .classes-banner > span {
    color: #f37335;
}
.classes-page .classes-banner > h2 {
    color: #2b2b2b;
}
.mdp-pagiation .pagination .page-link {
    color: #bbb;
}
.mdp-pagiation .pagination .page-link:hover {
    background-color: inherit;
}
.mdp-pagiation .pagination .page-link:before {
    background-color: #f37335;
}
.mdp-pagiation .pagination .page-link.active,
.mdp-pagiation .pagination .page-link:hover {
    color: #2b2b2b;
}
.schedule-page .nav-tabs li a {
    background-color: #fff;
    border-color: #dbdbdb !important;
    border: 1px solid #dbdbdb;
    color: #575757;
}
.schedule-page .nav-tabs li a.active {
    border-color: #f37335 !important;
    color: #f37335;
}
.schedule-page .schedule-content {
    border-left: 1px solid #e5dfdf;
}
.schedule-page .schedule-content .schp-list {
    border-right: 1px solid #e5dfdf;
}
.schedule-page .schedule-content .schp-list li {
    border-bottom: 1px solid #e5dfdf;
}
.schedule-page .schedule-content .schp-list li .tb-head {
    background-color: #f2f7fd;
    border: 1px solid #d5d7da;
}
.schedule-page .schedule-content .schp-list li .tb-head h2 {
    color: #2b2b2b;
    font-size: 18px;
}
.schedule-page .schedule-content .schp-list li .mkd-info {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.schedule-page .schedule-content .schp-list li .mkd-info.bg-2 {
    background: linear-gradient(180deg, #159957, #1260a0);
}
.schedule-page .schedule-content .schp-list li .mkd-info > h3 {
    color: #fff;
}
.schedule-page .schedule-content .schp-list li .mkd-info > span {
    color: #f2f7fd;
}
.mdp-contact .comment-area h3 {
    color: #2b2b2b;
}
.mdp-contact .comment-area form .form-group input,
.mdp-contact .comment-area form .form-group textarea {
    border: 1px solid #ece8e8;
    color: #575757;
}
.mdp-contact .mdp-our-contacts h3 {
    color: #2b2b2b;
}
.mdp-contact .mdp-our-contacts .dd-cont > h4 {
    color: #2b2b2b;
}
.mdp-contact .mdp-our-contacts .dd-cont > span {
    color: #575757;
}
.blog-post.single {
    border-bottom: 1px solid #e8e3e3;
}
.blog-post.single .oderd > h3 {
    color: #2b2b2b;
}
.blog-post.single .oderd ol li,
.blog-post.single .oderd ul li {
    color: #575757;
}
.blog-post.single blockquote {
    border: 1px solid #eae5e5;
}
.blog-post.single blockquote p {
    color: #2b2b2b;
}
.blog-post.single blockquote > h4 {
    color: #575757;
    font-size: 14.23px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: capitalize;
    position: relative;
    z-index: 9;
}
.blog-post.single blockquote > span {
    color: #f37335;
}
.mdp-sub-title {
    color: #2b2b2b;
}
.mdp-post-comments ul li .mdp-comment .mdp-com > h3 {
    color: #2b2b2b;
}
.mdp-post-comments ul li .mdp-comment .mdp-com > span {
    color: #575757;
}
.mdp-post-comments ul li .mdp-comment .mdp-com .reply-btn {
    color: #575757;
}
.mdp-post-comments ul li .mdp-comment .mdp-com .reply-btn i {
    color: #1260a0;
}
.sidebar .widget-search form input {
    color: #575757;
    border: 1px solid #c9c9c9;
}
.sidebar .widget-title {
    color: #2b2b2b;
    border: 1px solid #f37335;
}
.sidebar .widget-categories ul li {
    color: #575757;
}
.sidebar .widget-categories ul li a {
    color: #2b2b2b;
}
.sidebar .widget-categories ul li a:hover {
    color: #f37335;
}
.sidebar .widget-posts .wd-posts .wd-post .wd-info > h3 {
    color: #2b2b2b;
}
.sidebar .widget-posts .wd-posts .wd-post .wd-info > h3:hover {
    color: #f37335;
}
.sidebar .widget-posts .wd-posts .wd-post .wd-info > span {
    color: #575757;
}
.sidebar .widget-comments ul li {
    color: #2b2b2b;
}
.sidebar .widget-comments ul li:hover {
    color: #f37335;
}
.sidebar .widget-comments ul li:hover a {
    color: #2b2b2b;
}
.sidebar .widget-archives ul li:before {
    background-color: #1260a0;
}
.sidebar .widget-archives ul li a {
    color: #2b2b2b;
}
.sidebar .widget-archives ul li a:hover {
    color: #f37335;
}
.sidebar .widget-tags ul li a {
    color: #575757;
    border: 1px solid #ece8e8;
}
.sidebar .widget-calendar .mdp-calendar .month {
    color: #2b2b2b;
}
.sidebar .widget-calendar .mdp-calendar table thead tr th {
    color: #575757;
}
.sidebar .widget-calendar .mdp-calendar table tbody td {
    color: #2b2b2b;
}
.sidebar .widget-calendar .mdp-calendar table tbody td.active {
    background: linear-gradient(270deg, #f37335, #f37335);
    color: #fff;
}
.sidebar .widget-calendar .mdp-calendar .controls li a {
    color: #2b2b2b;
}
.sidebar .widget-calendar .mdp-calendar .controls li a:hover {
    color: #1260a0;
}
.blog-section.posts-page .blog-posts .blog-post .blog-info .category {
    color: #2b2b2b;
    background-color: #ffd31d;
}
.blog-section.posts-page .blog-posts .blog-post .blog-info h3.stick:before {
    background: linear-gradient(270deg, #f37335, #f37335);
}
.blog-section.posts-page .blog-posts .blog-post .blog-info .chat-format li > strong {
    color: #2b2b2b;
}
.blog-section.posts-page .blog-posts .blog-post.without-title .blog-info p {
    color: #2b2b2b;
}
.blog-section.posts-page .blog-posts .blog-post.quote-post {
    border: 1px solid #eae5e5;
}
.blog-section.posts-page .blog-posts .blog-post.quote-post.no-bg {
    background: #fff;
}
.blog-section.posts-page .blog-posts .blog-post.quote-post .blog-info .category {
    color: #2b2b2b;
    background-color: #ffd31d;
}
.blog-section.posts-page .blog-posts .blog-post.quote-post .blog-info p {
    color: #2b2b2b;
}
.blog-section.posts-page .blog-posts .blog-post.quote-post .blog-info h4 {
    color: #575757;
}
.blog-section.posts-page .blog-posts .blog-post.quote-post .blog-info > span {
    color: #f37335;
}
.menu-btn > a span {
    background-color: #1260a0;
}
.responsive-menu {
    background-color: #f79133;
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.responsive-menu ul li a {
    color: #fff;
}
.failed,
.text-info {
    background: #f37335;
    color: #fff !important;
}

.error-page {
    background: #f2f7fd url(../img/error-bg.png);
}
.error-page .page-title {
    color: #f37335;
}
.error-page .error-text h2 {
    color: #f37335;
}
.error-page .error-text h3 {
    color: #2b2b2b;
}
.error-page .error-text .social-icons li a {
    background: linear-gradient(270deg, #159957, #1260a0);
}
.error-page .error-text .social-icons li a:hover {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.social-icons li a {
    background: linear-gradient(270deg, #159957, #1260a0);
    color: #fff;
}
.teacher-col .teacher--info h3 {
    color: #2b2b2b;
}
.teacher-col .teacher--info > span {
    color: #1260a0;
}
.teacher-col .teacher--info .social-icons li a {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.class-single-content h2 {
    color: #2b2b2b;
}
.class-single-content p {
    color: #575757;
}
.class-single-content .meta-box li:before {
    background-color: #575757;
}
.class-single-content .meta-box li a,
.class-single-content .meta-box li span {
    color: #575757;
}
.class-single-content h3 {
    color: #2b2b2b;
}
.ordrd li {
    color: #575757;
}
.class-sidebar .widget-information {
    background-color: #fff;
    border: 2px solid #f37335;
}
.class-sidebar .widget-information .widget-title {
    color: #2b2b2b;
}
.class-sidebar .widget-information ul {
    border-bottom: 1px solid #e5dfdf;
}
.class-sidebar .widget-information ul li h4 {
    color: #575757;
}
.class-sidebar .widget-information ul li > span {
    color: #1260a0;
}
.class-sidebar .widget-information .tech-info .tech-tble .tch-info h3 {
    color: #2b2b2b;
}
.class-sidebar .widget-information .tech-info .tech-tble .tch-info span {
    color: #575757;
}
.class-sidebar .widget-class {
    background-color: #fff;
    border: 2px solid #f37335;
}
.class-sidebar .widget-class .wd-class-post .wd-class-thumb {
    background: linear-gradient(270deg, #f37335, #f37335);
}
.class-sidebar .widget-class .wd-class-post .wd-class-info > h3 {
    color: #2b2b2b;
}
.class-sidebar .widget-class .wd-class-post .wd-class-info > span {
    color: #575757;
}
.class-sidebar .widget-classes-carousel .widget-title {
    color: #2b2b2b;
}
.class-sidebar .widget-classes-carousel .slick-dots li button {
    background-color: #bbb;
}
.class-sidebar .widget-classes-carousel .slick-dots li.slick-active button {
    background: linear-gradient(270deg, #159957, #1260a0);
}
.class-sidebar .widget-contact-dp {
    background-color: #fff;
    border: 2px solid #f9b493;
}
.event-single p {
    color: #575757;
}
.event-single > h3 {
    color: #2b2b2b;
}
.event-gallery .price,
.sg-event > span {
    color: #fff;
    background: linear-gradient(180deg, #f37335, #f37335);
}
.sg-event h3 {
    color: #2b2b2b;
}
.clt li .clt-info h3 {
    color: #2b2b2b;
}
.clt li .clt-info h3 span {
    color: #1260a0;
}
.teacher-single-page .teacher-coly .social-icons li a:before {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.teacher-single-page .teacher-coly .social-icons li a:hover:before {
    background: linear-gradient(0deg, #f37335, #f37335);
}
.teacher-single-page .teacher-content > h3 {
    color: #f37335;
}
.teacher-single-page .teacher-content .rol-z .rol-info h3 {
    color: #2b2b2b;
}
.teacher-single-page .teacher-content .rol-z .rol-info span {
    color: #575757;
}
.teacher-single-page .teacher-content .rol-z.style2 .rol-info h3 {
    color: #2b2b2b;
}
.teacher-single-page .teacher-content p {
    color: #575757;
}
.teacher-single-page .teacher-content .tech-detils {
    background-color: #fff;
    border: 1px solid #f37335;
}
.teacher-single-page .teacher-content .tech-detils li h3 {
    color: #f37335;
}
.teacher-single-page .teacher-content .tech-detils li span {
    color: #1260a0;
}
.teacher-single-page .teacher-content .skills-tech > h3 {
    color: #2b2b2b;
}
.teacher-single-page .teacher-content .skills-tech .progess-row > span {
    color: #575757;
}
.teacher-single-page .teacher-content .skills-tech .progess-row h3 {
    color: #2b2b2b;
}
.teacher-single-page .teacher-content .skills-tech .progess-row .progress .progress-bar.bg-clr1 {
    background-color: #f45905;
}
.teacher-single-page .teacher-content .skills-tech .progess-row .progress .progress-bar.bg-clr2 {
    background-color: #1260a0;
}
.teacher-single-page .teacher-content .skills-tech .progess-row .progress .progress-bar.bg-clr3 {
    background-color: #ffd31d;
}
.teacher-single-page .teacher-content .skills-tech .progess-row .progress .progress-bar.bg-clr4 {
    background-color: #159957;
}
.schedule-mobile-content .ttb-list h2 {
    color: #2b2b2b;
    background-color: #f2f7fd;
}
.schedule-mobile-content .ttb-list > ul li .dd-info {
    background: linear-gradient(180deg, #f37335, #f37335);
}
.schedule-mobile-content .ttb-list > ul li .dd-info h3 {
    color: #fff;
}
.schedule-mobile-content .ttb-list > ul li .dd-info > span {
    color: #fff;
}
.schedule-mobile-content .ttb-list > ul li:nth-child(2n) .dd-info {
    background: linear-gradient(180deg, #159957, #1260a0);
}
.back-to-top {
    color: #fff;
    background-image: linear-gradient(180deg, #f37335, #f37335);
}
.back-to-top:hover {
    background-image: linear-gradient(210deg, #f37335, #f37335);
}
input[type="submit"]{
    color: #fff;
    font-family: Poppins, sans-serif;
    background-color: #1260a0;
}
label.col-sm-4.col-xs-12.control-label.required
{
    color: #2b2b2b;
}
.mf-ok-text {
    color: #008000;
}
h2.main-title {
    color: #f37335;
}
i.fa.fa-phone {
    color: #f37335;
}

i.fa.fa-clock {
    color: #f37335;
}

i.fa.fa-map-marker {
    color: #f37335;
}

i.fa.fa-circle {
	color: #f37335;
}
i.fa.fa-tags {
	color: #f37335;
}

i.fa.fa-calendar {
	color: #f37335;
}